RewriteEngine On

# Route all requests starting with "projekt/" to router.php
RewriteRule ^projekt/ router.php [L]

# PHP Settings
# PHP Settings
# Loopia Företagspaket Limit: 512MB
php_value upload_max_filesize 512M
php_value post_max_size 512M
php_value memory_limit 512M
php_value max_execution_time 350
php_value max_input_time 1000
